* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.intro-text {
    margin: 3rem 10rem;
}

body {
    align-items: center;
    justify-content: center;
}

.bmi-calculator {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bmi-calculator form {
    display: flex;
    flex-direction: column;
  }
  
  .bmi-calculator label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .bmi-calculator input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .bmi-calculator button {
    padding: 10px 20px;
    background-color: #C09984;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .display-bmi {
    margin-bottom: 20px;
  }
  
  .display-bmi h4 {
    margin-bottom: 5px;
  }
  
  .display-bmi .calculated-bmi {
    font-weight: bold;
  }
  
  .bmi-table {
    margin-top: 20px;
    text-align: center;
  }
  
  .bmi-table img {
    max-width: 100%;
  }

  /* BMI INDEX MEGJELENÍTÉSE */
  
  .display-bmi {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .display-bmi h4 {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .display-bmi .calculated-bmi {
    font-weight: bold;
    font-size: 24px;
    color: #A6A998;
  }