.daily-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.bmr-calculator {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bmr-calculator form {
  display: flex;
  flex-direction: column;
}

.bmr-calculator label {
  margin-bottom: 5px;
  font-weight: bold;
}

.bmr-calculator input {
  padding: 5px;
  margin-bottom: 10px;
}

.bmr-calculator button {
  padding: 10px 20px;
  background-color: #C09984;
  color: white;
  border: none;
  cursor: pointer;
}

.warning-bmr {
  width: 480px;
  padding: 20px;
}