* {
    margin: 10px 20px;
    max-width: 100%;
}

.disclaimer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 0 auto;
    width: 50rem;
}

.description {
    width: 30rem;
}