* {
    margin: 10px 20px;
    max-width: 100%;
}

.disclaimer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 0 auto;
    width: 50rem;
}

.disclaimer-wrap img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.disclaimer {
    width: 30rem;
}

.description {
    width: 30rem;
}