.footer-container {
    margin: auto;
    height: 7rem;
    background-color: #E5E1DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #A19582;
    flex-shrink: 0;
    width: 100vw;
}