* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 75vh;
    background-image: url("https://imagizer.imageshack.com/img923/6269/uiv23o.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}