* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 75vh;
    background-image: url("https://imagizer.imageshack.com/img923/3546/PlXMW7.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f7f5f6;
    position: relative;
}