* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.intro-text {
    width: 400px;
}

.home-intro {
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
}

.home-intro > img {
    width: 500px;
    border-radius: 5px;
}