* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.intro-text {
    width: 37.5rem;
    text-align: center;
}

.home-intro {
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
    align-items: center;
}

.product-card {
    display: flex;
    border: 1px solid black;
    margin: 1rem;
}

.warning-msg {
    color: brown;
    padding: 1.5em;
}

.product-txt {
    padding: 1.3rem;
    max-width: 12.5rem;
}

@media (max-width: 660px) {
    .home-img {
        display: none;
    }
}