@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.header-container {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    background-color: #b7baaa;
    padding: 1rem;
}

.navbar {
    display: flex;
    gap: 2rem;
}

.navbar > * {
    text-decoration: none;
    color: #524f4a ;
}

.nav-icons {
    display: flex;
    gap: 1em;
}
