.patients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 0 auto;
    width: 50rem;
}

.patients-container img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.intro-patients {
    width: 30rem;
}